$fontSizeSmall: 10px;
$fontSize: 12px;
$fontSizeLarge: 28px;
$padding: 8px;

.Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  .Sidebar {
    background-color: #fff;
    min-height: 100vh;
    width: 200px;
  }

  .Content {
    background-color: #eee;
    flex-grow: 1;
    padding: $padding;
  }
}

.button {
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 6px;
  min-width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;

  &:hover {

  }
}


.text {
  font-size: $fontSize;
  &-large {
    font-size: $fontSizeLarge;
  }
}

.title {
  font-size: $fontSizeLarge;
}

.padding {
  padding: 8px;

  &left {
    padding-left: 8px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
